<h1>編輯進度</h1>

<div class="row">
<div class="col-sm-4 ">
<%= simple_form_for [@chatroom, @element] do |f| %>

  <div class="form-group">
    <%= f.label "進度名" %><br />
    <%= f.text_field :name, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label "描述" %><br />
    <%= f.text_area :content, class: 'form-control', rows: "4" %>
  </div>


  <div class="form-group">
    <%= f.submit "新增進度", class: 'btn btn-lg  btn-primary' %>
  </div>

<% end %>
</div>
</div>

<br />
