
 <h2> <%= @chatroom.name %></h2>

<div class="col-sm-3 ">
  <h4>Chatroom members </h4>
  <ul>
      <% @chatroom.chatroom_users.each do |request| %>
      <li>
        <%= request.user %>
      </li>
    <% end %>
  </ul>


  <h4>Agenda </h4>
  <%= link_to "新增進度", new_chatroom_element_path(@chatroom) %>

  <% @chatroom.elements.each do |element| %>
    <div class = 'show_content'>
      <div class = 'element_name btn btn-primary btn-sm'><%= element.name %></div>
      <%= element.completion %>
      <div class = 'content'>
        <%= element.content %>
        </br>
        <%= link_to "編輯進度", edit_chatroom_element_path(@chatroom, element) %>
      </div>
    </div>
    </br>
  <% end %>

  <%= link_to "返回", chatrooms_path %>
</div>

<div class="col-sm-6 ">

<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
  	<%= render message%>
  <% end %>
</div>
<div class="row">
<div class="col-sm-10 ">
<%= form_for [@chatroom, Message.new], remote: true do |f| %>
  <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>
</div>
</div>
</div>






