<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<h4>Chatroom members </h4>
<ul>
    <% @chatroom.chatroom_users.each do |request| %>
    <li>
      <%= request.user %>
    </li>
  <% end %>
</ul>

<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
  	<%= render message%>
  <% end %>
</div>
<div class="row">
<div class="col-sm-4 ">
<%= form_for [@chatroom, Message.new], remote: true do |f| %>
  <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>
</div>
</div>

<%= link_to "返回", chatrooms_path %>
<%= link_to "新增進度", new_chatroom_element_path(@chatroom) %>




