
 <h2> <%= @chatroom.name %></h2>

<div class="col-sm-3 ">
<%= link_to "新增進度", new_chatroom_element_path(@chatroom) %>

  <h4>Chatroom elements </h4>
   <ul>
      <% @chatroom.elements.each do |element| %>
        <li>
          <div class='show_content btn btn-success btn-sm'>
            <%= element.name %>
            <div><%= element.content %><div>
          <div>
        </li>  
    <% end %>
   </ul>

  <h4>Chatroom members </h4>
  <ul>
      <% @chatroom.chatroom_users.each do |request| %>
      <li>
        <%= request.user %>
      </li>
    <% end %>
  </ul>

  <%= link_to "返回", chatrooms_path %>
</div>

<div class="col-sm-6 ">

<div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
  	<%= render message%>
  <% end %>
</div>
<div class="row">
<div class="col-sm-10 ">
<%= form_for [@chatroom, Message.new], remote: true do |f| %>
  <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>
</div>
</div>
</div>






