<h1>Friends List:</h1>

<h3>Welcome <%= current_user.email %></h3>



<h4>Stranger list:</h4>
<ul>
  <% @users.each do |user| %>
    <% stranger = 0 %>
    <% unless user == current_user %>
      <% current_user.friendships.each do |f| %>
        <% if user == f.friend %>
          <% stranger = 1 %>
        <% end %>
      <% end %>
    <% if stranger == 0 %>
      <li>
        <%= user.email %> 
        <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
      </li>
    <% end %>
    <% end %>
  <% end %>
</ul>



<h4>Your awaiting friend requests:</h4>

<ul>
  <% current_user.requested_friendships.each do |request| %>
  <li>
    <%= request.email %>
    <%= link_to "Accept",  friendship_path(id: request.id), method: "put" %>
    <%= link_to "Decline", friendship_path(id: request.id), method: :delete %>
  </li>
  <% end %>
</ul>

<h4>Your sent friend requests:</h4>

<ul>
    <% current_user.pending_friends.each do |request| %>
    <li>
      <%= request.email %>
    </li>
  <% end %>
</ul>

<h4>Your friends </h4>
<ul>
    <% current_user.friends.each do |request| %>
    <li>
      <%= request.email %>
    </li>
  <% end %>
</ul>
