<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
            </li>
            <li class="nav-item px-3">
            <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item px-3">
            <%= link_to "Articles", posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item px-3">
            <%= link_to "Social", social_index_path, class: "nav-link" %>
            </li>
            <li class="nav-item px-3">
            <%= link_to "Chatroom", chatrooms_path, class: "nav-link" %>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-list"></i></a>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag("avatars/7.jpg") %>
                    <span class="d-md-down-none"><%= current_user %></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>

                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>

                    <div class="dropdown-header text-center">
                        <strong>Settings</strong>
                    </div>

                    <% if user_signed_in? %>
                      <a class="dropdown-item" href="/users/edit"><i class="fa fa-wrench"></i> Settings</a>
                      <a class="dropdown-item" href="/users/sign_out" data-method="delete"><i class="fa fa-wrench"></i> Logout</a>
                    <% else %>
                      
                      <a class="dropdown-item" href="/users/sign_up"><i class="fa fa-wrench"></i> Sign Up</a>
                      <a class="dropdown-item" href="/users/sign_in"><i class="fa fa-wrench"></i> Login</a>
                    <% end %>
                </div>
            </li>
            <li class="nav-item d-md-down-none">
                <a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
            </li>

        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <% if user_signed_in? %>
                    <li class="nav-item">
                        <a class="nav-link" href="/chatrooms"><i class="icon-speedometer"></i> Chatrooms <span class="badge badge-info">NEW</span></a>
                    </li>
                      
                      <ul>
                        <% current_user.chatrooms.public_channels.each do |chatroom| %>
                          <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %></li>
                        <% end %>
                      </ul> 
                    <% end %>

                </ul>
            </nav>
        </div>
        <main class="main">
          <div class="container-fluid">
          <%= yield %>
          </div>
        </main>
    </div>
    <footer class="app-footer">
        <a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.
        <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
        </span>
    </footer>
 
  </body>
</html>
